<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categoria.nome %>
</p>

<%= link_to 'Editar', edit_categoria_path(@categoria), :class => 'btn btn-default' %> 
<%= link_to 'Voltar', categorias_path, :class => 'btn btn-info' %>
